[submodule "philo/contrib/gilbert/static/gilbert/extjs"]
	path = philo/contrib/gilbert/static/gilbert/extjs
	url = git://git.ithinksw.org/extjs.git
[submodule "philo/contrib/gilbert/static/gilbert/fugue-icons"]
	path = philo/contrib/gilbert/static/gilbert/fugue-icons
	url = git://git.ithinksw.org/fugue-icons.git
