.x-tbar-page-prev{
	background: transparent fugue-image('control-180.png') center center no-repeat;
}
.x-tbar-page-first{
	background: transparent fugue-image('control-stop-180.png') center center no-repeat;
}
.x-tbar-page-next{
	background: transparent fugue-image('control.png') center center no-repeat;
}
.x-tbar-page-last{
	background: transparent fugue-image('control-stop.png') center center no-repeat;
}
.x-tbar-loading{
	background: transparent fugue-image('arrow-circle-double-135.png') center center no-repeat;
}