.x-toolbar{
//	@include background(linear-gradient(top, #444 0%, #666 10%, #888 90%, #777 100%));
	@include background(linear-gradient(top, #222 0%, #444 10%, #666 90%, #444 100%));
	padding:3px 0;
}

.x-toolbar-item{
	margin:{
		left:3px;
		right:3px;
	};
	white-space:nowrap;
}
.x-toolbar-text{
	font-size:11px;
	margin-left:10px;
	white-space:nowrap;
}

.x-toolbar-separator{
	border-right:1px solid wha(.25);
	border-left:1px solid bla(.25);
	height:14px;
}

.x-toolbar-separator-vertical{
	width:100%;
	height:0;
	border-top:1px solid bla(.25);
	border-bottom:1px solid wha(.25);
	margin:9px 0;
}