@import "http://fonts.googleapis.com/css?family=Expletus+Sans";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, #content .codeblock,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: "";
    content: none; }

/* Compass Vars */
/* Custom Vars */
/* custom mixins */
body {
  font-size: 100%;
  line-height: 1.563em; }

html > body {
  font-size: 16px; }

::selection {
  background: #ff6ae6;
  text-shadow: none !important;
  color: #FFF !important; }

body {
  background: #e0e5ef;
  background: -webkit-gradient(linear, 50% 0%, 50% 250, color-stop(0%, #b4bdcf), color-stop(100%, #e0e5ef));
  background: -webkit-linear-gradient(top, #b4bdcf 0%, #e0e5ef 250px);
  background: -moz-linear-gradient(top, #b4bdcf 0%, #e0e5ef 250px);
  background: -o-linear-gradient(top, #b4bdcf 0%, #e0e5ef 250px);
  background: linear-gradient(top, #b4bdcf 0%, #e0e5ef 250px);
  color: #333333;
  text-shadow: 0 1px 0 #FFF;
  font-family: Helvetica, Arial, serif; }

#container {
  width: 750px;
  margin: 20px auto;
  background: transparent;
  color: #333333; }

#nameplate {
  font-size: 3.75em;
  line-height: 1.25em;
  margin-bottom: 25px;
  padding-bottom: 5px;
  border-bottom: 5px solid #333333;
  -moz-box-shadow: 0 1px 0 white;
  -webkit-box-shadow: 0 1px 0 white;
  -o-box-shadow: 0 1px 0 white;
  box-shadow: 0 1px 0 white;
  font-family: "Expletus Sans", Helvetica, Arial, serif; }

#content a {
  color: black;
  text-decoration: none;
  background: #aebbd5;
  padding: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px; }
  #content a:hover {
    background: #95a1bb;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.65); }
#content p, #content ul, #content ol, #content header {
  margin-bottom: 1.563em; }
#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
  font-weight: bold;
  margin-bottom: 0.781em; }
#content h2 {
  font-size: 1.25em;
  line-height: 1.25em; }
#content code, #content .codeblock {
  background: #bec9de;
  padding: 3px;
  margin: -4px 0;
  border: 1px solid #aebbd5;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15) inset, 0 1px 0 0 white;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15) inset, 0 1px 0 0 white;
  -o-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15) inset, 0 1px 0 0 white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15) inset, 0 1px 0 0 white;
  font-family: Menlo, monospace;
  font-size: 0.813em;
  line-height: 1.923em; }
#content .codeblock {
  padding: 10px;
  display: block; }
  #content .codeblock code, #content .codeblock .codeblock {
    margin: 0;
    padding: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0;
    border: none;
    display: block; }
  #content .codeblock.shell code::before, #content .codeblock.shell .codeblock::before {
    content: "$ ";
    color: #4d4d4d; }

.three-up {
  background: #333333;
  margin: 25px -10px;
  padding: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 1px 0 0 white, 0 2px 4px rgba(0, 0, 0, 0.35) inset;
  -webkit-box-shadow: 0 1px 0 0 white, 0 2px 4px rgba(0, 0, 0, 0.35) inset;
  -o-box-shadow: 0 1px 0 0 white, 0 2px 4px rgba(0, 0, 0, 0.35) inset;
  box-shadow: 0 1px 0 0 white, 0 2px 4px rgba(0, 0, 0, 0.35) inset;
  overflow: hidden;
  *zoom: 1; }
  .three-up figure {
    border: 1px solid #1a1a1a;
    float: left;
    width: 241.333px;
    margin-right: 10px;
    overflow: hidden;
    position: relative;
    -moz-transition-property: width;
    -webkit-transition-property: width;
    -o-transition-property: width;
    transition-property: width;
    -moz-transition-duration: 0.25s;
    -webkit-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    transition-duration: 0.25s;
    -moz-transition-timing-function: linear;
    -webkit-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15) inset, 0 1px 0 0 rgba(255, 255, 255, 0.35);
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15) inset, 0 1px 0 0 rgba(255, 255, 255, 0.35);
    -o-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15) inset, 0 1px 0 0 rgba(255, 255, 255, 0.35);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15) inset, 0 1px 0 0 rgba(255, 255, 255, 0.35);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px; }
    .three-up figure.shrunk {
      width: 62px; }
    .three-up figure.expanded {
      width: 600px; }
    .three-up figure:last-child {
      margin-right: 0;
      float: right;
      /* keeps the right margin from wiggling */ }
    .three-up figure img {
      display: block; }
  .three-up figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.75);
    text-shadow: 1px 1px 0 #000;
    padding: 0 5px;
    color: #FFF;
    width: 600px;
    font-size: 0.813em;
    line-height: 1.923em; }

#modelList {
  margin-left: 1.5em; }
  #modelList li {
    margin-bottom: 0.781em;
    list-style-type: disc; }
  #modelList .name {
    font-weight: bold; }

#contribList {
  background: #333333;
  margin: 25px -10px;
  padding: 20px 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 1px 0 0 white, 0 2px 4px rgba(0, 0, 0, 0.35) inset;
  -webkit-box-shadow: 0 1px 0 0 white, 0 2px 4px rgba(0, 0, 0, 0.35) inset;
  -o-box-shadow: 0 1px 0 0 white, 0 2px 4px rgba(0, 0, 0, 0.35) inset;
  box-shadow: 0 1px 0 0 white, 0 2px 4px rgba(0, 0, 0, 0.35) inset;
  overflow: hidden;
  *zoom: 1;
  text-shadow: none;
  color: white;
  -webkit-font-smoothing: antialiased; }
  #contribList li {
    width: 343px;
    float: left;
    margin: 0 5px 10px 5px;
    padding: 10px;
    background: #262626;
    border: 1px solid #1a1a1a;
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.35) inset, 0 1px 0 0 rgba(255, 255, 255, 0.15);
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.35) inset, 0 1px 0 0 rgba(255, 255, 255, 0.15);
    -o-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.35) inset, 0 1px 0 0 rgba(255, 255, 255, 0.15);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.35) inset, 0 1px 0 0 rgba(255, 255, 255, 0.15);
    overflow: hidden;
    *zoom: 1;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px; }
  #contribList .name, #contribList .description, #contribList .status {
    display: block; }
  #contribList .name {
    font-weight: bold; }
  #contribList .description {
    color: #999999; }
  #contribList .status {
    font-style: italic;
    font-size: 0.813em;
    line-height: 1.923em;
    float: right; }

footer {
  margin-top: 25px;
  padding-top: 20px;
  border-top: 5px solid #333333;
  -moz-box-shadow: 0 1px 0 0 white inset;
  -webkit-box-shadow: 0 1px 0 0 white inset;
  -o-box-shadow: 0 1px 0 0 white inset;
  box-shadow: 0 1px 0 0 white inset;
  font-size: 0.813em;
  line-height: 1.923em;
  color: #666666; }
  footer a {
    text-decoration: none;
    color: #5974aa; }
    footer a:hover {
      color: #131924; }
