.embed-widget{
	float:left;
}
.embed-toolbar{
	border:1px solid #CCC;
	border-bottom:0;
	padding:3px 5px;
	background:#EEE -webkit-linear-gradient(#F5F5F5, #DDD);
	background:#EEE -moz-linear-gradient(#F5F5F5, #DDD);
	background-color:#EEE;
}
.embed-widget textarea{
	margin-top:0;
}
.embed-widget button, .embed-widget select{
	vertical-align:middle;
	margin-right:3px;
}
.embed-toolbar button{
	background:#FFF;
	border:1px solid #CCC;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	color:#666;
}
.embed-toolbar button:hover{
	color:#444;
}
.embed-toolbar button:active{
	color:#FFF;
	background:#666;
	border-color:#666;
}

.grappelli .embed-widget{
	background:#DDD;
	padding:2px;
	border:1px solid #CCC;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	display:inline-block;
	margin:0 -3px;
}
.grappelli .embed-toolbar{
	padding:0;
	padding-bottom:3px;
	background:none;
	border:none;
}