{% extends "admin/change_form.html" %}
{% load i18n %}

{% block extrahead %}{{ block.super }}
<!-- This will break if anything ever changes and may not work in all browsers. Sad face. -->
<script type='text/javascript'>
(function($){
	$(function(){
		$('#page_form input[type=submit]').click(function(e){
			if (e.target.name == '_addanother') {
				hidden = document.getElementById('page_form')._continue[0]
				hidden.parentNode.removeChild(hidden)
			}
		})
	})
}(django.jQuery));
</script>
{% endblock %}

{% block form_top %}
	<p>{% trans "First, choose a template. After saving, you'll be able to provide additional content for containers." %}</p>
	<input type="hidden" name="_continue" value="1" />
{% endblock %}

{% block content %}
{% with 0 as save_on_top %}
{{ block.super }}
{% endwith %}
{% endblock %}