$bgcolor: #2A486D;
$bgcolor1: adjust-hue(lighten($bgcolor, 20%), 20deg);
$bgcolor2: darken($bgcolor, 20%);
$contentwidth: 900px;
$contentpadding: 19px;
$contentborderwidth: 1px;
$containerwidth: $contentwidth+$contentpadding+$contentborderwidth;
$contentbg: #FFF;