/* Compass Vars */

$base-font-size: 16px;
$base-line-height: 25px;


/* Custom Vars */
$page-width: 750px;
$page-background: #E0E5EF;
$content-background: transparent;
$foreground: #333;

$textfonts: Helvetica, Arial, serif;
$headingfonts: "Expletus Sans", $textfonts;

/* custom mixins */

@mixin body-text{
	color:$foreground;
	text-shadow:0 1px 0 #FFF;
	font-family: $textfonts;
}

@mixin box-inset($inset: rgba(0,0,0,.15), $outset: #FFF){
	@include box-shadow(0 1px 2px 0  $inset inset, 0 1px 0 0 $outset);
}